<div class="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Forms Category List</h3>
                </div>
                <div class="box-body" id="append-js">

                </div>
            </div>
        </div>
        <div class="col-sm-8">

            <div class="box" id="campionamento-rendered">
                <div class="box-header with-border">
                    <h3 class="box-title camp-titolo">Forms Title</h3>
                    <button type="button" class="btn btm-sm btn-primary pull-right" id="get-number-of-filled" >0</button>
                </div>
                <form id="save-rendered"> <!--action="home/test-save"-->
                    <div class="box-body">

                        <div class="fb-render">
                        </div>


                    </div>
                    <div class="box-footer">
                        <button id="save-compiled" type="submit" class="btn btn-success pull-right">Save</button>
                    </div>
                </form>
            </div>

            <div class="box hidden" id="user-filled-data">
                <div class="box-header with-border">
                    <h3 class="box-title user-camp-titolo">Input Data</h3>
                </div>
                <!--action="home/test-save"-->
                <div class="box-body">

                    <table id='compilati-table-by-user' class='table'></table>

                </div>
                <div class="box-footer">
                    <button id="go-back" type="submit" class="btn btn-success pull-right">Go Back</button>
                </div>

            </div>

        </div>
    </div>

</div>

